.header-brand {
    display: flex;
    align-items: center;
}

.header-brand > a {
    display: flex;
    align-items: center;
}

.header-brand .title {
    margin: 0;
    margin-left: 1.5rem;
    height: 4rem;
    filter: drop-shadow(0 0 1px rgb(255, 255, 255));
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));
    transition: transform var(--time-transition);
}

.header-brand > a:hover > .logo {
    transform: rotate(-45deg);
}

@media (max-width: 30rem) {
    .header-brand .title {
        display: none;
    }
}

@media (max-width: 35rem) {
    .header-brand h1 {
        display: none;
    }
}
