.fav-button {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 1rem;
    top: 1rem;
    z-index: 2;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-3);
    color: var(--color-1);
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    transition: background-color var(--time-transition);
}

.fav-button:hover {
    background-color: var(--color-white);
}

.fav-button:hover > * {
    color: var(--color-4);
    transform: scale(1.2);
}
